.text-lancer{
    color: #32a778;
}
.text-lancer-dark{
    color: #024a2d;
}
.bg-lancer{
    background-color: #32a778;
}
.bg-lancer-dark{
    background-color: #024a2d;
}
.bg-lancer-light{
    background-color: #dff6ee;
}

.text-wrap{
    overflow-wrap: break-word;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #32a778 !important;
    border-color: #32a778 !important;
}

.page-item .page-link {
    z-index: 3;
    color: #32a778;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}


.logotext
{
    font-family: Arial bold; font-size: 16px; font-weight: bolder;
    text-shadow: rgb(110,110,110) 3px 3px 5px;
    color: #32a778;

}
.logotext1
{
    font-family: Arial bold; font-size: 9px; font-weight: bold;
    text-shadow: rgb(110,110,110) 3px 3px 5px;
    color: #32a778;

}
#inout
{
    background: transparent;
    border: 4px #32a778;
    border-radius: 25px;
    color: white;
    /*top: 20px;*/
    /*position: absolute;*/
    padding: 15px 15px;
}
#bgg:hover
{
    background: #32a778;
}

section
{

    width: 100%;
    /*height: 900px;*/
    /*background: url("../storage/images/bglog.jpg")center center no-repeat;*/
    /*position: absolute;*/
    /*top: 150px;*/

}
.sec
{
    background-size: cover;
    height: 900px;
    width: 100%;


}

.loginBox
{
    /*position: absolute;*/
    /*top: 700px;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    /*width: 700px;*/
    //height: 500px;
    //padding: 80px 40px;

    box-sizing: border-box;
    //background: rgba(0,0,0,.5);
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2
{
    margin: 0;
    padding: 0 0 20px;
    color: #09378c;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.loginBox input[type="text"],
.loginBox input[type="email"],
.loginBox input[type="password"],
.loginBox input[type="number"]
{
    border-left: 2px solid #32a778 !important;
    border-top: 2px solid #32a778 !important;
    border-bottom: 2px solid #32a778 !important;
    border-right: none;
    background: transparent !important;
    border-radius: 50px;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}
.divBor {
    border-right: 2px solid #32a778 !important;
    border-top: 2px solid #32a778 !important;
    border-bottom: 2px solid #32a778 !important;
    border-radius: 5px !important;
    border-left: none !important;
    background: transparent !important;
    outline: none !important;
}
.inputDiv{
    border: 2px solid #32a778 !important;
    background: transparent !important;
    outline: none !important;
    display: inline;
    border-radius: 50px;
}
.loginBox textarea[type="text"]
{
    border-left: 2px solid #32a778 !important;
    border-top: 2px solid #32a778 !important;
    border-bottom: 2px solid #32a778 !important;
    border-right: none;
    background: transparent !important;
    border-radius: 50px;
    outline: none;
    color: #000000;
    font-size: 16px;
}

.loginBox select
{
    border-left: 2px solid #32a778 !important;
    border-top: 2px solid #32a778 !important;
    border-bottom: 2px solid #32a778 !important;
    border-right: none;
    background: transparent !important;
    border-radius: 50px;
    outline: none;
    color: #000000;
}

::-moz-placeholder{
    color: #024a2d !important;
}
::placeholder{
    color: #024a2d !important;
}
::-ms-input-placeholder{
    color: #024a2d !important;
}
:-ms-input-placeholder{
    color: #024a2d !important;
}
.loginBox input[type="submit"],
.loginBox button[type="submit"]
{
    border: 2px solid #024a2d !important;
    outline: none;
    color: #024a2d !important;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
        color: #ffffff !important;
        background: #024a2d;
    }
}
.butDiv{
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50);
    transform: translate(-50%);
    width: 8rem;
}
.loginBox input[type="file"]
{

    height: 20px;
    color: #fff;
    font-size: 11px;
    background: black;

    border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
    background: #32a778;

}
.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.cover
{
    position: absolute;
    top: 450px;
    left: 50%;
}
#upload_b
{
    width: 10px;
    font-size: 12px;
}
#dbase
{
    width: 1200px;
    height: auto;
}

.myNav:hover
{
    background-color: #32a778;
    color: white !important;

}
.myNav a:hover
{
    color: white;
}

.formBox
{
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.formBox input[type="submit"],
.formBox button[type="submit"]
{
    border: none;
    outline: none;
    color: #fff;
    background-color: #32a778 !important;
    cursor: pointer;
    border-radius: 10px;
}

.formBox button[type="cancel"]
{
    border: none;
    outline: none;
    color: #fff;
    background-color: red !important;
    cursor: pointer;
    border-radius: 10px;
}

.formBox input[type="text"],
.formBox input[type="email"],
.formBox input[type="password"],
.formBox input[type="number"],
.formBox input[type="date"],
.formBox input[type="file"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}
.formBox textarea,
.formBox textarea:focus
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
}
.formBox select
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}

.formBox ::placeholder {
    color: white !important;
}


.bg-none{
    background-color: transparent !important;
    border: none;
}

.menu-icon-custom{
    display: none;
}
.properties{padding: 10px; background-color: #fff;text-align: center; margin-bottom: 20px;}
.properties .image-holder{position: relative;}
@media screen and(max-width: 800px) {
    .menu-icon-custom{
        display: block;
        position: absolute;
        right: 10px;
    }
}

.bg-black{
    background-color: #000000;
}

.form-control:focus{
    border-color:#32a778 !important;
    outline:0;
    box-shadow:inset 0 0 0 transparent
}

select.form-control:focus::-ms-value{
    color:#32a778 !important;
    border-color:#32a778 !important;
    background-color:#fff}

select option{
    box-shadow: inset #32a778 !important;
}

select option:hover{
    background-color:#32a778 !important;
}

.d-bord-wrapper{
    min-height: 100% !important;
}


/*.stack-top{
    z-index: 9;
}*/
.b-white{
    border: 1px solid white !important;
    background: transparent !important;
}

.home-navs{

    &.nav-link{
        font-size: 8px !important;
        border: none;
        background: transparent !important;
        color: white !important;
    }
    &.router-link-exact-active{
        border-bottom: 2px solid #012617 !important;
        color: white !important;
        &.nav-link{
            color: white !important;
        }
    }
    &.nav-link:hover{
        color: black !important;
    }

}

.lancer-search{
        border: 1px solid white !important;
        background: transparent;
}

.router-link-exact-active {

    border: none;
    border-bottom: 2px solid #32a778;
}

.bodyClass{
    min-height: 100%;
}
.nav-item{
    list-style: none !important;
}





